@charset "UTF-8";

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* empieza mi código*/


body{
	background-color:black;
	font-size:15px;
	margin: auto;	
	font-family: 'VT323', monospace;
	color: white;
}

h1{
	font-family: 'VT323', monospace;
  text-align: center;
	font-size: 100px;
}

.hoja-1200 {
	display: block;
	max-width:1200px;
	width:100%;
	margin:auto;
	padding-top: 100px;
	
}

.cuadros {
	display: flex;
	width: 100%;
	margin: 10px 0;
	flex-wrap: wrap;
}


footer {
	padding: 20px;
	padding-top: 100px;
}

footer ul {
	display: flex;
	justify-content: space-between;
	
}

footer ul li {
	width: 20%;
	text-align:center;
}

footer p {
	text-align:center;
	padding-top: 20px;
}

.todofoto{
	padding: 20px;
	padding-top: 120px;
	max-width: 1200px;
    margin: auto;
	
}

.fotoscolumna{
	width: 33%;
	gap: 50px;
}

.info{
	display: flex;
	justify-content: space-around;
	margin: auto;
	padding-bottom: 50px;
}

.titulofs{
	width: 32%;
	font-size: 50px;
	
}

.textofs{
	width: 68%;
	padding-left: 40px;	
}

.fotos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.juegos{
		width: 32%;
	}

#dialog-content1 img {
	width: 100%;
}

#dialog-content1 {
	padding: 0;
}

#dialog-content2 img {
	width: 100%;
}

#dialog-content2 {
	padding: 0;
}

#dialog-content3 img {
	width: 100%;
}

#dialog-content3 {
	padding: 0;
}

#dialog-content4 img {
	width: 100%;
}

#dialog-content4 {
	padding: 0;
}

#dialog-content5 img {
	width: 100%;
}

#dialog-content5 {
	padding: 0;
}

#dialog-content6 img {
	width: 100%;
}

#dialog-content6 {
	padding: 0;
}

#dialog-content7 img {
	width: 100%;
}

#dialog-content7 {
	padding: 0;
}

#dialog-content8 img {
	width: 100%;
}

#dialog-content8 {
	padding: 0;
}

#dialog-content9 img {
	width: 100%;
}

#dialog-content9 {
	padding: 0;
}

#dialog-content10 img {
	width: 100%;
}

#dialog-content10 {
	padding: 0;
}

#dialog-content11 img {
	width: 100%;
}

#dialog-content11 {
	padding: 0;
}

#dialog-content12 img {
	width: 100%;
}

#dialog-content12 {
	padding: 0;
}

#dialog-content13 img {
	width: 100%;
}

#dialog-content13 {
	padding: 0;
}

.image {
	width: 32%;
	padding-top: 30%;
	margin-bottom: 30px;
	display: block;
}

.img1{
	background-image: url("img/Andy.jpeg");
	background-size: cover;
	background-position: center;
}

.img2{
	background-image: url("img/Ximena.jpg");
	background-size: cover;
	background-position: center;
}

.img3{
	background-image: url("img/Lu.jpeg");
	background-size: cover;
	background-position: center;
}

.img4{
	background-image: url("img/Majo.jpeg");
	background-size: cover;
	background-position: center;
}

.img5{
	background-image: url("img/Ana.jpg");
	background-size: cover;
	background-position: center;
}

.img6{
	background-image: url("img/Luisa.jpg");
	background-size: cover;
	background-position: center;
}

.img7{
	background-image: url("img/Val.jpg");
	background-size: cover;
	background-position: center;
}

.img8{
	background-image: url("img/Allan.jpg");
	background-size: cover;
	background-position: center;
}

.img9{
	background-image: url("img/Fabrizzio.jpg");
	background-size: cover;
	background-position: center;
}

.img10{
	background-image: url("img/Emi.jpg");
	background-size: cover;
	background-position: center;
}

.img11{
	background-image: url("img/Arantza.jpg");
	background-size: cover;
	background-position: left;
}

.img12{
	background-image: url("img/Mica.jpg");
	background-size: cover;
	background-position: center;
}

.img13{
	background-image: url("img/Mirelle.jpg");
	background-size: cover;
	background-position: center;
}

.img14{
	background-image: url("img/sb7.jpg");
	background-size: cover;
	background-position: right;
}

.img15{
	background-image: url("img/sb8.jpg");
	background-size: cover;
	background-position: right;
}

.img16{
	background-image: url("img/sb9.jpg");
	background-size: cover;
	background-position: right;
}

.img17{
	background-image: url("img/sb10.jpg");
	background-size: cover;
	background-position: right;
}

.img18{
	background-image: url("img/sb11.jpg");
	background-size: cover;
	background-position: right;
}

.img19{
	background-image: url("img/sb12.jpg");
	background-size: cover;
	background-position: right;
}

.publicvisage{
	padding: 20px;
	padding-top: 120px;
	max-width: 1200px;
    margin: auto;
	}

.img20{
	background-image: url("img/pb1.JPG");
	background-size: cover;
	background-position: right;
}

.img21{
	background-image: url("img/pb2.JPG");
	background-size: cover;
	background-position: right;
}

.img22{
	background-image: url("img/pb3.JPG");
	background-size: cover;
	background-position: right;
}

.img23{
	background-image: url("img/pb4.JPG");
	background-size: cover;
	background-position: right;
}

.img24{
	background-image: url("img/pb5.JPG");
	background-size: cover;
	background-position: right;
}

.img25{
	background-image: url("img/pb6.JPG");
	background-size: cover;
	background-position: right;
}

.img26{
	background-image: url("img/pb7.JPG");
	background-size: cover;
	background-position: right;
}

.img27{
	background-image: url("img/pb8.JPG");
	background-size: cover;
	background-position: right;
}

.img28{
	background-image: url("img/pb9.JPG");
	background-size: cover;
	background-position: right;
}


/* ipad */
@media screen and (max-width:820px){
	
	
	
	.cuadros {
		margin: 0px;
		padding: 0 10px;
	}
	
	.cuadros li {
		width: 33.33%;
		margin-bottom: 25px;
	}


	.cuadros li a {
		padding-top: 90.9%;
	}
	
	#contenedorsm {
	display: block;
	padding-bottom: 130px;
	}
	
	#fotosm img {
    max-width: 92%;
    min-width: 100px;
    padding-left: 0px;
	}
	
	#textosm {
    padding-right: 0px;
	}
	
	footer {
    padding: 0px;
    padding-top: 0px;
	}
	
	.titulofs {
    width: auto;
	max-width: 35%;
	padding-left: 20px;
	}
	
	.textofs {
    max-width: 60%;
    padding-right: 0px;
    padding-left: 81px;
	}
	
	.textoantecedente {
    padding-right: 20px;
	}
	
	footer {
		background-color:#FFFADF;
		padding-top: 20px;
		padding-bottom: 20px;
		position: fixed;
    	left: 0;
		right: 0;
    	bottom: 0;
	}
	
	.todoproyectos {
	padding-top: 30px;
    padding-bottom: 130px;
	} 
	
	
	.todofoto {
    padding-top: 60px;
}
	
	
}


@media screen and (max-width:480px){
	
	p {
		line-height: 120%;
		padding-bottom: 10px;
	}
	
	footer{
		font-size:9px;
	}
	
	.cuadros li {
		width: 33.33%;
		margin-bottom: 12px;
	}


h1 {
	font-size: 18px;
	}

	h2 {
	font-size: 15px;
	}

	p {
	font-size: 9px;
	}

	.textofs {
	padding-left: 50px;
	max-width: 50%
	}

	.titulofs {
	max-width: 50%;
	padding-left: 10px;
	}

	.image {
    width: 47%;
    padding-top: 47%;
    margin-right: -2px;
    margin-bottom: 22px;
    display: block;
	}

	.todofoto {
	padding-top: 30px;
	}

	
	
	.info {
    display: flex;
    justify-content: space-around;
    margin: auto;
    padding-bottom: 10px;
	}
	
	
	.info {
    display: block;
	}
	.titulofs {
    max-width: 100%;
    padding-left: 0px;
	}
	.titulofs h1 {
    font-size: 20px;
	}
	
	.textofs {
    padding-left: 0px;
    max-width: 100%;
	padding-top: 10px;
	padding-bottom: 5px;
	width: 100%;
	}
	
	.image {
    width: 100%;
    padding-top: 100%;
    margin-right: -2px;
    margin-bottom: 22px;
    display: block;
	}
	.fotos {
    display: block;
	}
	
	p {
    font-size: 12px;
	}
	
	.juegos
	{
		width: 100%;
	}
	
	
	
	
    
}

@charset "UTF-8";
/* CSS Document */

